.questionInputContainer{
  width: 70%;
  align-items: flex-end;
  border: #f0f0f0 1px solid;
  background-color: #ffffff;
  padding: 1rem;
  padding-bottom: .5rem;
  border-radius: 12px;
  margin: 0 auto;
}
.questionInput{
  font-family:inherit;
  background-color: #ffffff;
  width: 100%;
  max-height: 200px ;
  margin-bottom: 2rem;
  overflow: auto;
  field-sizing: content;
  border: none;
  outline: none;
  resize: none;
}

.inputControlls {
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sendButton {
  margin-inline: 0 -32px;
  opacity: 0;
  transform: scale(0);
  transition: all .3s cubic-bezier(.2,0,0,1) 0ms;
}

.sendButtonActive{
  margin-inline: 0 0;
  opacity: 1;
  transition: opacity .2s linear .1s,-webkit-transform .3s cubic-bezier(.2,0,0,1) .1s,-webkit-margin-end .3s cubic-bezier(.2,0,0,1) 0ms;
}

.inputControllsDivider{
  margin-right: 4px;
  margin-left: 4px;
}

@media (max-width: 480px) {
  .questionInputContainer {
    width: 99%;
  }
}
